# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/artifacts
/cache
/typechain-types

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.metadata.json
/dev.log
/dev.err
/node.log
/node.err
/theirs.tsx
/theirs2.tsx

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# database
prisma/*.db
prisma/*.db-journal

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

